body {
    margin: 5rem 5rem 5rem 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("assets/blurry_light.png");
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
}

header img {
    padding: 2%;
    border-radius: 20%;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
}

nav a {
    font-family: 'Tilt Prism';
    font-weight: bolder;
    color: azure;
    text-decoration: none;
}

nav ul {
    background-color: rgb(178, 85, 214);
    padding: 1rem 0rem 1rem 0rem;
    list-style: none;
    display: inline-flex;
    text-align: center;
}

nav li {
    margin-left: 5rem;
    margin-right: 5rem;
}

section {
    color: rgb(56, 61, 40);
    display: flex;
    margin: 1rem 1rem 1rem 1rem;
    background-color: transparent;
    border-radius: 3%;
}

article {
    padding: 1em 1em 1em 1em;
    border-color: rgb(2, 187, 17);
    border-radius: 5%;
    border: 0.2em solid;
    flex: 1;
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
}

footer {
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
}

footer>div {
    flex: 1;
}

#footer-logo {
    height: 5rem;
}

#special-menu {
    background-position: center;
    background-size: cover;
}

article>h1 {
    text-transform: uppercase;
}

article>ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    line-height: 3.5rem;
}

#awards {
    font-weight: 1000;
    font-size: larger;
    text-transform: uppercase;
    /* background-image: url("assets/heart_waffle.png");
    background-size: cover;
    background-position: center; */
}

#awards li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 239, 15);
}

#awards img {
    height: 3rem;
}

#timing {
    height: 15rem;
}

#trophy img {
    height: 5dvw;
}

#opening-hours {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}